<h1>Welcome, <%= @user.username %>!</h1>

<p>
  Your Balance: $<%= sprintf("%.2f",@user.balance) %><br>

  <form method=post action="/withdrawal">
    <h3>Withdraw Funds:</h3>
    $<input type="text" name="withdrawal_amount">

    <input type="submit" id="withdrawal_submit" value="Submit Withdrawal">
  </form>

  <form method=post action="/deposit">
    <h3>Deposit Funds:</h3>
    $<input type="text" name="deposit_amount">

    <input type="submit" id="deposit_submit" value="Submit Deposit">
  </form>
</p>

<p>We are currently working on your account.</p>

<p><a href="/logout">Log Out</a></p>
