<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <div>
    <input type="text" name="first_name" placeholder="First Name:">
  </div>
  <div>
    <input type="text" name="last_name" placeholder="Last Name:">
  </div>
  <div>
    <input type="text" name="username" placeholder="Username:">
  </div>
  <div>
  <input type="password" name="password" placeholder="Password:">
  </div>
  <input type="submit" value="Sign Up">
</form>
