<h1>You don't have enough funds to transfer from your accounts!!!</h1>
<h2>Please type in a numeric amount.</h2>

<form method="GET" action="<%= @link %>">
  <input type="submit" value="<<<<Go Back To The Transfer Page">
</form>
