<h1>You don't have enough funds to withdraw from this account!!!</h1>
<h2>Please type in a numeric amount.</h2>

<form method="GET" action="/withdraw">
  <input type="submit" value="<<<<Go Back To Withdraw Page">
</form>
