<h2>Hello <%= current_user.first_name %>. How much would you like to withdraw?</h2>
<h2>Your current balance is $<%= @account.balance %></h2>
<form method="POST" action="/withdraw">
<div>
  <h3><label for="withdraw_amount">$</label><input id="withdraw_amount" type="text" name="withdraw_amount"></h3>
</div>
<input type="submit" value="Submit">
</form>
